<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITehHotelService" />
                <binding name="BasicHttpBinding_HotelService" />
                <binding name="BasicHttpBinding_RezervacijaService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1476/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITehHotelService" contract="ServiceReference1.ITehHotelService"
                name="BasicHttpBinding_ITehHotelService" />
            <endpoint address="http://localhost:1476/HotelService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_HotelService" contract="HotelServiceReference.HotelService"
                name="BasicHttpBinding_HotelService" />
            <endpoint address="http://localhost:1476/RezervacijaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RezervacijaService"
                contract="RezervacijaServiceRef.RezervacijaService" name="BasicHttpBinding_RezervacijaService" />
        </client>
    </system.serviceModel>
</configuration>