<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_RezervacijaService" />
                <binding name="HotelServiceEndpoint" />
                <binding name="StrankaServiceEndpoint" />
                <binding name="HotelServiceEndpoint1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1476/RezervacijaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_RezervacijaService"
                contract="RezervacijaServiceRef.RezervacijaService" name="BasicHttpBinding_RezervacijaService" />
            <endpoint address="http://localhost:1476/HotelService.svc" binding="basicHttpBinding"
                bindingConfiguration="HotelServiceEndpoint" contract="HotelServiceReference.HotelService"
                name="HotelServiceEndpoint" />
            <endpoint address="http://164.8.251.93/SOATravel/hotel2/StrankaService.svc"
                binding="basicHttpBinding" bindingConfiguration="StrankaServiceEndpoint"
                contract="RemoteStrankaService.StrankaService" name="StrankaServiceEndpoint" />
            <endpoint address="http://164.8.251.93/SOATravel/hotel2/HotelService.svc"
                binding="basicHttpBinding" bindingConfiguration="HotelServiceEndpoint1"
                contract="RemoteHotelService.HotelService" name="HotelServiceEndpoint1" />
        </client>
    </system.serviceModel>
</configuration>