<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DefaultBehavior" name="TehHotel.Model.StrankaRESTService">
        <endpoint address="/Stranke" behaviorConfiguration="RESTBehavior"
          binding="webHttpBinding" bindingConfiguration="" name="StrankaRESTServiceEndpoint"
          contract="TehHotel.Contracts.Service.IStrankaRESTService" />
      </service>
      <service behaviorConfiguration="DefaultBehavior" name="TehHotel.Model.ZaposleniRESTService">
        <endpoint address="/Zaposleni" behaviorConfiguration="RESTBehavior"
          binding="webHttpBinding" bindingConfiguration="" name="ZaposleniRESTServiceEndpoint"
          contract="TehHotel.Contracts.Service.IZaposleniRESTService" />
      </service>
      <service behaviorConfiguration="DefaultBehavior" name="TehHotel.Model.HotelService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="HotelServiceEndpoint" contract="TehHotel.Contracts.Service.IHotelService" />
      </service>
      <service behaviorConfiguration="DefaultBehavior" name="TehHotel.Model.RezervacijaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="RezervacijaServiceEndpoint" contract="TehHotel.Contracts.Service.IRezervacijaService" />
      </service>
      <service behaviorConfiguration="DefaultBehavior" name="TehHotel.Model.StrankaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          name="StrankaServiceEndpoint" contract="TehHotel.Contracts.Service.IStrankaService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <!--<connectionStrings>
    <add name="TehHotelContext"
          connectionString="Data Source=(localdb)\v11.0;Initial Catalog=TehHotel.Dal.TehHotelContext;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"
          providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <connectionStrings>
    <add name="TehHotelContext"
          connectionString="server=164.8.251.93;User Id=hotel2;Password=casino;Persist Security Info=True;database=hotel2"
          providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>
