<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TehHotel.Gui.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TehHotel.Gui.Test-20121228183604;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-TehHotel.Gui.Test-20121228183604.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <applicationSettings>
    <TehHotel.Gui.Test.Properties.Settings>
      <setting name="TehHotel_Gui_Test_HotelService_HotelService" serializeAs="String">
        <value>http://164.8.251.93/SOATravel/hotel2/HotelService.svc</value>
      </setting>
      <setting name="TehHotel_Gui_Test_RezervacijaService_RezervacijaService"
        serializeAs="String">
        <value>http://164.8.251.93/SOATravel/hotel2/RezervacijaService.svc</value>
      </setting>
      <setting name="TehHotel_Gui_Test_StrankaService_StrankaService"
        serializeAs="String">
        <value>http://164.8.251.93/SOATravel/hotel2/StrankaService.svc</value>
      </setting>
      <setting name="TehHotel_Gui_Test_BankaService_KBP_Stranke" serializeAs="String">
        <value>http://164.8.251.93:8080/KBP-Banka/KBP-Stranke</value>
      </setting>
      <setting name="TehHotel_Gui_Test_LetalisceService_Letalec2" serializeAs="String">
        <value>http://164.8.251.93/SOATravel/letalec2/ForeachAirlines.svc</value>
      </setting>
      <setting name="TehHotel_Gui_Test_RentACarRezervacijeService_Rezervacije"
        serializeAs="String">
        <value>http://164.8.251.93/SOATravel/rentacar2/RentACar2_Rezervacije.Rezervacije.svc</value>
      </setting>
      <setting name="TehHotel_Gui_Test_RentACarStrankeService_Stranke"
        serializeAs="String">
        <value>http://164.8.251.93/SOATravel/rentacar2/RentACar2_Stranke.Stranke.svc</value>
      </setting>
      <setting name="TehHotel_Gui_Test_RentACarVozilaService_Vozila"
        serializeAs="String">
        <value>http://164.8.251.93/SOATravel/rentacar2/RentACar2_Vozila.Vozila.svc</value>
      </setting>
    </TehHotel.Gui.Test.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="RezervacijaServiceSecureEndpoint">
          <security defaultAlgorithmSuite="Basic128" authenticationMode="MutualCertificate"
            requireDerivedKeys="false" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="secureConfig">
          <clientCredentials>
            <clientCertificate findValue="SubjectKey" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:1476/RezervacijaServiceSecure.svc" behaviorConfiguration="secureConfig"
        binding="customBinding" bindingConfiguration="RezervacijaServiceSecureEndpoint"
        contract="RezervacijaServiceSecure.RezervacijaService" name="RezervacijaServiceSecureEndpoint">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAreiGqilku9hngWEQL1g+HolOpWAgAAAAAQAAAO4BAAAwggHqMIIBU6ADAgECAhDfhrqcaYGUhk2SPYyDX6vrMA0GCSqGSIb3DQEBBAUAMBAxDjAMBgNVBAMTBVJQS2V5MB4XDTA2MDYxMjIzNDUyM1oXDTM5MTIzMTIzNTk1OVowEDEOMAwGA1UEAxMFUlBLZXkwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAN98qei7Mc6hJE2VhTk3RZ2u5Yn5C0C3b+ZIA3PqmmfWB2l5SExFe0gVbdFaWXkKcP8+NDJcSURvxofW32cJi1Wrm7VreuoBFwJuIqAir3Ujb4dO7br2jcyPlsZTwjSkxlP83rYjUGJlIr+oifAXAuyJx5LOv48znNpmv06sGhAxAgMBAAGjRTBDMEEGA1UdAQQ6MDiAEJlUK+Mc5VUd6vh29RSA0C6hEjAQMQ4wDAYDVQQDEwVSUEtleYIQ34a6nGmBlIZNkj2Mg1+r6zANBgkqhkiG9w0BAQQFAAOBgQBsOTnPoUSFRx6hc/ZpMWyeKAZIJod+WENWJ4QWhGy4aRxokuKKps9Pe26DiZgxuOimfi0l2U5qQpljADif90Oy86i3LmYdorl/bRIIfLQA+a1ME3MAC3jhinBjWLQhUyxAavWw5jS0/oBd0vDwZaqjy47g0jFV9pF0VHhoVbTtOA==" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
