@{
    ViewBag.Title = "Dodatne storitve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dodatne storitve</h2>
<ul>
    <li>
        @Html.ActionLink("Izposoja avtomobila", "Index", "RentACar")
    </li>
    <li>
        @Html.ActionLink("Letalisce", "Index", "Letalisce")
    </li>
</ul>