@model TehHotel.Gui.Test.Models.RezervacijaPosebneStoritve
@{
    ViewBag.Title = "Rezervacija";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rezervacija parkirisca</h2><br />

<form method="post" action="/Parkirisce/MozneRezervacije">
Hotel id @Html.TextBoxFor(m => m.idStoritve)
Datum Od @Html.TextBoxFor(m => m.datumOd, new {@class="datepicker"}) <br />
Datum Do @Html.TextBoxFor(m => m.datumDo, new {@class="datepicker"}) <br />
<input type="submit" name="submit" value="Išči" />
</form>