@{
    ViewBag.Title = "Home Page";
}

<script src="~/Content/carousel/js/bootstrap.min.js"></script>
<link href="~/Content/carousel/css/bootstrap.min.css" rel="stylesheet" />

<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="http://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Shangri-La_Hotel,_Harbin/SHAR-Bg-Hotel-Lobby.jpg" /></div>
    <div class="item"><img src="http://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Shangri-La_Hotel,_Guangzhou/SLPG-Bg-Hotel-Lobby.jpg" /></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>